<div class="row">
  <% @ideas.each do |idea| %>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2><%= link_to idea.name, idea %></h2>
      <p><%= image_tag idea.picture_url, class: 'img-thumbnail' if idea.picture? %></p>
          </div><!--/span-->
  <% end %>
</div><!--/row-->